<!DOCTYPE html>
<html>

<head>
    <title>Volunteer Scheduler App</title>
    <script src="scripts/htmx.1.9.12.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
    <div id="overall_layout">
        <div id="left-column">
            <form id="volunteer_column_form" hx-post="/save-volunteers" hx-swap="none">
                <div id="ve0" class="volunteer_entry">
                    <input name="ve0_n" type="text" class="ve_name" placeholder="Name">
                    <input name="ve0_u" type="date" class="ve_unavailable" placeholder="mm/dd/yyyy"
                        hx-get="/add-unavailability?IdIndex=0" hx-target="this" hx-swap="afterend" hx-include="[name='ve0_u']">
                </div>
                <!--<button id="add_volunteer_btn" type="button" hx-post="/add-volunteer" hx-target="#volunteer_column_form"
                    hx-swap="innerhtml" hx-trigger="click, load">+</button>-->
            </form>
            <button id="save-volunteers-button" type="submit" form="volunteer_column_form">Save</button>
        </div>
        <div id="right-column">
            <table id="schedule_table">
                <tr>
                    <th></th>
                    <th scope="col">Volunteer 1</th>
                    <th scope="col">Volunteer 2</th>
                    <th scope="col">Volunteer 3</th>
                </tr>
                <tr>
                    <th scope="row">XX/YY/ZZ</th>
                    <td>Guy1</td>
                    <td>Guy2</td>
                    <td>Guy3</td>
                </tr>
                <tr>
                    <th scope="row">XX/YY/ZZ</th>
                    <td>Guy1</td>
                    <td>Guy2</td>
                    <td>Guy3</td>
                </tr>
                <tr>
                    <th scope="row">XX/YY/ZZ</th>
                    <td>Guy1</td>
                    <td>Guy2</td>
                    <td>Guy3</td>
                </tr>
                <tr>
                    <th scope="row">XX/YY/ZZ</th>
                    <td>Guy1</td>
                    <td>Guy2</td>
                    <td>Guy3</td>
                </tr>
                <tr>
                    <th scope="row">XX/YY/ZZ</th>
                    <td>Guy1</td>
                    <td>Guy2</td>
                    <td>Guy3</td>
                </tr>
            </table>
        </div>
    </div>

</body>

</html>